<div class="main">
  <aside class="menu side-menu">
    <a href="#" class="logo">SumUp</a>
    <nav>
      <ul class="unstyled">
        <li>Midwife</li>
        <li>QMD</li>
      </ul>
    </nav>
    <nav class="sub-menu">
      <ul class="unstyled">
        <li>Sub statistics maybe?</li>
      </ul>
    </nav>
  </aside>

  <section class="content-area">
    <header>
      <a class="menu-icon" href="#"><span class="icon-list"></span></a>
      <h1 class="headline">Commits</h1>
    </header>
    <table class="sub-header">
      <thead>
        <tr>
          <th width="10%">Project</th>
          <th width="10%">Time Spent</th>
          <th width="20%">Activity</th>
          <th width="20%">Author</th>
          <th width="20%" align="right"></th>
        </tr>
      </thead>
      <tbody>
          <% @commit_array.each do |commit_info| %>
            <tr>
              <td><%= commit_info[:commit_json]["project"] %></td>
              <td><%= commit_info[:commit_json]["time"] %></td>
              <td><%= commit_info[:commit_json]["type"] %></td>
              <td><%= commit_info[:commit_obj].author.name %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </section>
</div>